@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

@media (max-width: 768px) {
	body {
		margin: 0;
		overflow: hidden;
		background-color: #d3d3d3;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		font-size: normal;
		font-family: 'manrope';
	}

	.display-2 {
		text-align: center;
		font-size: 52px;
		font-family: 'manrope';
	}

	.px-3 {
		padding: 16px;
		background-color: gray;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	.nav,
	.forgot-action,
	#email {
		display: none;
	}
}
